@import "base";

.container {
  width:100%;
  padding-right: 0px;
  padding-left: 0px;

  .navbar{
    background-color: $horizon-blue;
    @include border-radius(0px);
    margin-bottom:0px;
    @include box-shadow(inset 0 -8px 6px -6px black);
    border-bottom:0px;
    a{
      color: white;
    }
    .nav>li>a:focus, .nav>li>a:hover{
      background-color: black;
    }
    .dropdown-menu{
      background-color: black;
    }
  }
  .vid-container{
    width:100%;
    overflow: hidden;
    .video-bg{
      position: fixed;
      z-index: -100;
      object-fit: cover;
      width: 100%;
      margin-top: -230px;
    }
  }
  .jumbotron{
    @include box-shadow(inset 0 8px 6px -6px black);
    @include border-radius(0px);
    margin-bottom: 0px;
    .author{
      margin-left: 350px;
      margin-top: -10px;
    }
  }
  .white-background{
    background-color: white;
    padding-top:30px;
  }
  .content{
    max-width: 1120px;
    margin: 0px auto;
  }
}